.ipWidget-Divider.ipSkin-gray{
    border-top: 1px solid #ccc;
}

.ipPluginBlogDate {
    position: absolute;
    left: -60px;
    margin-top: 23px;
    font-size: 12px;
}


.ipPluginBlogDate span {
    font-family: AllerDisplay, sans-serif;
    font-size: 48px;
}


.ipPluginBlogAuthor {
    font-family: "Droid Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #767879;
    font-size: 13px;
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
}


.ipPluginBlogHeader {
    border-bottom: 1px solid #000;

}

.ipPluginBlogHeader ._logo {
    padding: 25px 35px 25px 20px;
}

.ipPluginBlogHeader ._wrapper {
    zoom: 1;
    margin: 0 auto;
    max-width: 800px;
    position: relative;
}



.ipWidget-Blog h2 {
    font-family: Aller, Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-transform: none;

}

.ipWidget-Blog h2 a:hover {
    text-decoration: none;
    color: #019BD4;
}


.mainSubheading {
    font-size: 24px;
    font-style: italic;
}



.main.col_10 .ipWidget-Columns {
    margin-left: 0;
    margin-right: 0;
}


.navbar-avatar {
    margin-right: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid transparent;
}

.navbar-login {
    margin-right: 5px;
}


.ipWidget .button:hover {
    color: #fff;
    text-decoration: none;
}


.error {
    font-size: 14px;
    color: #c00;
}

.ipWidget .success, .success {
    background: #BBE8BB;
    padding: 5px 8px;
    border-radius: 3px;
}
